.lnk-danger, .lnk-danger:hover {
  color: #d9534f;
}

#admin-pokemon #select-gen{
  width: 75%;
  display: inline;
}

#admin-effectiveness #select-from-gen, #admin-effectiveness #select-to-gen{
  width: 40%;
  display: inline;
}