<div id="admin-abilitysets" class="container-fluid admin-pages">
  <div class="row">

    <div class="col-sm-3">
      <h2>Abilitysets</h2>
    </div>

    <div class="col-sm-9">
      <form [formGroup]="adminForm" (ngSubmit)="createAbilitysetsBulk()" autocomplete="off" novalidate>
        <div class="form-group">
          <input type="checkbox" [formControl]="adminForm.controls.includeStarred"> Include starred abilitysets
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" [formControl]="adminForm.controls.bulk"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <br />
      <ngx-datatable
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="'auto'"
        [limit]="20"
        [reorderable]="false"
        [rows]="abilitysets">
      </ngx-datatable>
      <ng-template #rowPokemonName let-row="row">
        {{ pokemonName(row.pokemonId) }}
      </ng-template>
      <ng-template #rowAbilityName let-row="row">
        {{ abilityName(row.abilityId) }}
      </ng-template>
      <ng-template #rowDeleteEntry let-row="row">
        <a href="#" class="lnk-danger float-right" (click)="deleteAbilityset(row.id)">
          <i class="fa fa-times"></i>
        </a>
      </ng-template>
    </div>

  </div>
</div>
