<div id="admin-generations" class="container-fluid">
  <div class="row">

    <div class="col-sm-4">
      <h2>Generations</h2>
    </div>

    <div class="col-sm-4">
      <form class="form-inline" [formGroup]="adminForm" (ngSubmit)="createGen()" autocomplete="off" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" [formControl]="adminForm.controls.name">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <br />
      <br />
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
        <tr *ngFor="let gen of generations">
          <td> {{ gen.name }}</td>
          <td>
            <a href="#" class="lnk-danger pull-right" (click)="deleteGen(gen.id)">
              <svg class="pxsmall px-cross"><use xlink:href="/static/symbol-defs.svg#px-cross"></use></svg>
            </a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
