<div id="admin-abilitysets" class="container">
  <div class="row">

    <div class="col-sm-3">
      <h2>Abilitysets</h2>
    </div>

    <div class="col-sm-9">
      <form>
        <div class="form-group">
          <textarea class="form-control" rows="5" ng-model="formData.bulk"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="createAbilitysetsBulk()">Add</button>
      </form>
      <br />
      <table class="table table-condensed">
        <tr>
          <th>Pokémon</th>
          <th>Ability</th>
          <th>Trait</th>
          <th>Generation</th>
          <th></th>
        </tr>
        <tr ng-repeat="as in abilitysets">
          <td> {{ pokemonName(as.pokemonId) }} </td>
          <td> {{ abilityName(as.abilityId) }} </td>
          <td> {{ as.trait }} </td>
          <td> {{ as.genIntroducedId }} </td>
          <td>
            <a href="#" class="lnk-danger pull-right" ng-click="deleteAbilityset(as.id)">
              <i class="fa fa-times"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>