<div id="admin-generations" class="container">
  <div class="row">

    <div class="col-sm-4">
      <h2>Generations</h2>
    </div>

    <div class="col-sm-4">
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
        <tr ng-repeat="gen in generations">
          <td> {{ gen.name }}</td>
          <td>
            <a href="#" class="lnk-danger pull-right" ng-click="deleteGen(gen.id)">
              <i class="fa fa-times"></i>
            </a>
          </td>
        </tr>
      </table>

      <form class="form-inline pull-right">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="formData.name">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="createGen()">Add</button>
      </form>
    </div>

  </div>
</div>