<div class="container">
  <div class="row">

    <div class="col-sm-3">
      <h2>Items</h2>
    </div>

    <div class="col-sm-9">
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
        <tr ng-repeat="item in items">
          <td> {{ item.name }}</td>
          <td> {{ item.description }} </td>
          <td>
            <a href="#" class="lnk-danger pull-right" ng-click="deleteItem(item.id)">
              <i class="fa fa-times"></i>
            </a>
          </td>
        </tr>
      </table>

      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="formData.name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="formData.description">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="createItem()">Add</button>
      </form>
    </div>

  </div>
</div>