<div id="admin-learnsets" class="container">
  <div class="row">

    <div class="col-sm-3">
      <h2>Learnsets</h2>
    </div>

    <div class="col-sm-9">
      <form>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="select-gen">Generation:</label>
          </div>
          <div class="col-sm-9">
            <select id="select-gen" class="form-control pull-right" ng-model="formData.gen">
              <option ng-repeat="g in generations" value="{{ g.id }}">{{ g.name }}</option>
            </select>
          </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="createLearnsetsBulk()">Run YML Scripts</button>
      </form>
      <br />
      <table class="table table-condensed">
        <tr>
          <th>Pokémon</th>
          <th>Move</th>
          <th>Level</th>
          <th>Gen Introduced</th>
          <th>Gen Completed</th>
          <th></th>
        </tr>
        <tr ng-repeat="ls in learnsets">
          <td> {{ ls.pokemonId }} </td>
          <td> {{ ls.moveId }} </td>
          <td> {{ ls.level }} </td>
          <td> {{ ls.genIntroducedId }} </td>
          <td> {{ ls.genCompletedId }} </td>
          <td>
            <a href="#" class="lnk-danger pull-right" ng-click="deleteLearnset(ls.id)">
              <i class="fa fa-times"></i>
            </a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>