<div id="admin-abilities" class="container-fluid admin-pages">
  <div class="row">

    <div class="col-sm-3">
      <h2>Abilities</h2>
    </div>

    <div class="col-sm-9">
      <form [formGroup]="adminForm" (ngSubmit)="createAbilitiesBulk()" autocomplete="off" novalidate>
        <div class="form-group">
          <textarea class="form-control" rows="5" [formControl]="adminForm.controls.bulk"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <br />
      <ngx-datatable
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="'auto'"
        [limit]="20"
        [reorderable]="false"
        [rows]="abilities">
      </ngx-datatable>
      <ng-template #rowDeleteEntry let-row="row">
        <a href="#" class="lnk-danger float-right" (click)="deleteAbility(row.id)">
          <i class="fa fa-times"></i>
        </a>
      </ng-template>
    </div>

  </div>
</div>
