<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Pokélution</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shield"></i> Admin <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/admin/generations">Generations</a></li>
            <li><a href="/admin/pokemon">Pokémon</a></li>
            <li><a href="/admin/evolutions">Evolutions</a></li>
            <li><a href="/admin/types">Types</a></li>
            <li><a href="/admin/effectiveness">Effectiveness</a></li>
            <li><a href="/admin/skills">Skills</a></li>
            <li><a href="/admin/skillsets">Skillsets</a></li>
            <li><a href="/admin/moves">Moves</a></li>
            <li><a href="/admin/learnsets">Learnsets</a></li>
            <li><a href="/admin/items">Items</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>