<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Pokélution</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">
            <svg class="px px-home"><use xlink:href="/static/symbol-defs.svg#px-home"></use></svg>
            <span> Home</span>
          </a>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <svg class="px px-shield"><use xlink:href="/static/symbol-defs.svg#px-shield"></use></svg>
            <span> Admin</span>
            <svg class="pxsmall px-chevron-down"><use xlink:href="/static/symbol-defs.svg#px-chevron-down"></use></svg>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/admin/generations">Generations</a></li>
            <li><a href="/admin/pokemon">Pokémon</a></li>
            <li><a href="/admin/evolutions">Evolutions</a></li>
            <li><a href="/admin/types">Types</a></li>
            <li><a href="/admin/effectiveness">Effectiveness</a></li>
            <li><a href="/admin/abilities">Abilities</a></li>
            <li><a href="/admin/abilitysets">Abilitysets</a></li>
            <li><a href="/admin/moves">Moves</a></li>
            <li><a href="/admin/learnsets">Learnsets</a></li>
            <li><a href="/admin/items">Items</a></li>
            <li><a href="/admin/games">Games</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>