<div id="admin-abilitysets" class="container">
  <div class="row">

    <div class="col-sm-3">
      <h2>Abilitysets</h2>
    </div>

    <div class="col-sm-9">
      <form>
        <div class="form-group">
          <!-- <input type="checkbox" ng-model="formData.includeStarred"> Include starred abilitysets -->
        </div>
        <div class="form-group">
          <!-- <textarea class="form-control" rows="5" ng-model="formData.bulk"></textarea> -->
        </div>
        <button type="submit" class="btn btn-primary" (click)="createAbilitysetsBulk()">Add</button>
      </form>
      <br />
      <table class="table table-condensed">
        <tr>
          <th>Pokémon</th>
          <th>Ability</th>
          <th>Trait</th>
          <th>Gen Introduced</th>
          <th>Gen Completed</th>
          <th></th>
        </tr>
        <tr *ngFor="let as of abilitysets">
<!--           <td> {{ pokemonName(as.pokemonId) }} </td>
          <td> {{ abilityName(as.abilityId) }} </td> -->
          <!-- <td> {{ as.trait }} </td> -->
          <!-- <td> {{ as.genIntroducedId }} </td> -->
          <!-- <td> {{ as.genCompletedId }} </td> -->
          <td>
            <!-- <a href="#" class="lnk-danger pull-right" (click)="deleteAbilityset(as.id)"> -->
              <svg class="pxsmall px-cross"><use xlink:href="/static/symbol-defs.svg#px-cross"></use></svg>
            <!-- </a> -->
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
