<div id="admin-items" class="container-fluid admin-pages">
  <div class="row">

    <div class="col-sm-3">
      <h2>Items</h2>
    </div>

    <div class="col-sm-9">
      <form [formGroup]="adminFormItem" (ngSubmit)="createItem()" autocomplete="off" novalidate>
        <div class="form-group col-sm-3">
          <input type="text" class="form-control" [formControl]="adminFormItem.controls.name">
        </div>
        <div class="form-group col-sm-7">
          <input type="text" class="form-control" [formControl]="adminFormItem.controls.description">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary pull-right">Add One</button>
        </div>
      </form>

      <hr />

      <form [formGroup]="adminFormBulk" (ngSubmit)="createItemsBulk()" autocomplete="off" novalidate>
        <div class="form-group col-sm-12">
          <textarea class="form-control" rows="5" [formControl]="adminFormBulk.controls.bulk"></textarea>
        </div>
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Add Multiple</button>
        </div>
      </form>
      <br />
      <ngx-datatable
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="'auto'"
        [limit]="20"
        [reorderable]="false"
        [rows]="items">
      </ngx-datatable>
      <ng-template #rowDeleteEntry let-row="row">
        <a href="#" class="lnk-danger float-right" (click)="deleteItem(row.id)">
          <i class="fa fa-times"></i>
        </a>
      </ng-template>
    </div>

  </div>
</div>
