<div id="admin-learnsets" class="container-fluid admin-pages">
  <div class="row">

    <div class="col-sm-3">
      <h2>Learnsets</h2>
      <div>
        <i class="far fa-exclamation-triangle"></i>
        <span> Refresh page between adding each generation.</span>
      </div>
    </div>

    <div class="col-sm-9">
      <form [formGroup]="adminFormItem" (ngSubmit)="runYqlScript()" autocomplete="off" novalidate>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="select-gen">Generation:</label>
          </div>
          <div class="col-sm-9">
            <select id="select-gen" class="form-control pull-right" [formControl]="adminFormItem.controls.gen">
              <option *ngFor="let g of generations">{{ g.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <button type="button" class="btn btn-primary">Run YQL Scripts</button>
          </div>
          <div class="col-sm-9">
            Num of Pokemon added: <span>{{ entryCount }}</span>
            <br />
            <span>{{ pokemonArrayIndex }}</span>
          </div>
        </div>
      </form>

      <hr />

      <div>
        Create individual entries for Pokemon with different forms and variations. Requires selecting generation from dropdown above.
      </div>
      <br />

      <form [formGroup]="adminFormBulk" (ngSubmit)="createIndividualLearnset()" autocomplete="off" novalidate>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="input-pokemon-id">Pokemon ID:</label>
          </div>
          <div class="col-sm-3">
            <input id="input-pokemon-id" type="text" class="form-control" [formControl]="adminFormBulk.controls.individualPokemonId">
          </div>
          <div class="col-sm-3">
            <label for="input-game-code">Game Code:</label>
          </div>
          <div class="col-sm-3">
            <input id="input-game-code" type="text" class="form-control" [formControl]="adminFormBulk.controls.individualGameCode">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="input-bulba-url">Bulbapedia URL:</label>
          </div>
          <div class="col-sm-9">
            <input id="input-bulba-url" type="text" class="form-control" [formControl]="adminFormBulk.controls.individualUrl">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="input-table-xpath">Table XPath:</label>
          </div>
          <div class="col-sm-9">
            <input id="input-table-xpath" type="text" class="form-control" [formControl]="adminFormBulk.controls.individualTableXPath">
            <span>Default: //*[@id="mw-content-text"]/table[1]/tbody/tr[2]/td/table</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Individual</button>
      </form>

      <!-- <br />
      <ngx-datatable
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="'auto'"
        [limit]="20"
        [reorderable]="false"
        [rows]="learnsets">
      </ngx-datatable>
      <ng-template #rowPokemonName let-row="row">
        {{ pokemonName(row.pokemonId) }}
      </ng-template>
      <ng-template #rowMoveName let-row="row">
        {{ moveName(row.itemId) }}
      </ng-template>
      <ng-template #rowDeleteEntry let-row="row">
        <a href="#" class="lnk-danger float-right" (click)="deleteLearnset(row.id)">
          <i class="fa fa-times"></i>
        </a>
      </ng-template> -->
    </div>

  </div>
</div>
