<div id="admin-evolutions" class="container-fluid admin-pages">
  <div class="row">

    <div class="col-sm-3">
      <h2>Evolutions</h2>
    </div>

    <div class="col-sm-9">
      <form [formGroup]="adminForm" (ngSubmit)="createEvolutionsBulk()" autocomplete="off" novalidate>
        <div class="form-group">
          <label for="select-trigger">Trigger:</label>
          <select id="select-trigger" class="form-control float-right" [formControl]="adminForm.controls.trigger">
            <option *ngFor="let t of triggers">{{ t }}</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" [formControl]="adminForm.controls.bulk"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <br />
      <ngx-datatable
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="'auto'"
        [limit]="20"
        [reorderable]="false"
        [rows]="evolutions">
      </ngx-datatable>
      <ng-template #rowPokemonName let-prop="prop">
        {{ pokemonName(prop) }}
      </ng-template>
      <ng-template #rowItemName let-row="row">
        {{ itemName(row.itemId) }}
      </ng-template>
      <ng-template #rowDeleteEntry let-row="row">
        <a href="#" class="lnk-danger float-right" (click)="deleteEvolution(row.id)">
          <i class="fa fa-times"></i>
        </a>
      </ng-template>
    </div>

  </div>
</div>
