<div id="admin-pokemon" class="container-fluid admin-pages">
  <div class="row">

    <div class="col-sm-3">
      <h2>Pokémon</h2>
      <div>
        TODO: Add pokemonTypes when entering data (and display types)
      </div>
    </div>

    <div class="col-sm-9">
      <form [formGroup]="adminForm" (ngSubmit)="createPokemonBulk()" autocomplete="off" novalidate>
        <div class="form-group">
          <label for="select-gen">Generation:</label>
          <select id="select-gen" class="form-control float-right" [formControl]="adminForm.controls.gen">
            <option *ngFor="let g of generations" value="{{ g.id }}">{{ g.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" [formControl]="adminForm.controls.bulk"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <br />
      <ngx-datatable
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="'auto'"
        [limit]="20"
        [reorderable]="false"
        [rows]="pokemon">
      </ngx-datatable>
      <ng-template #rowDeleteEntry let-row="row">
        <a href="#" class="lnk-danger float-right" (click)="deletePokemon(row.id)">
          <i class="fa fa-times"></i>
        </a>
      </ng-template>
    </div>

  </div>
</div>
