<div id="admin-moves" class="container-fluid admin-pages">
  <div class="row">

    <div class="col-sm-3">
      <h2>Moves</h2>
    </div>

    <div class="col-sm-9">
      <form [formGroup]="adminFormItem" (ngSubmit)="createMove()" autocomplete="off" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" [formControl]="adminFormItem.controls.text">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>

      <hr />

      <form [formGroup]="adminFormBulk" (ngSubmit)="createMovesBulk()" autocomplete="off" novalidate>
        <div class="form-group">
          <input type="checkbox" [formControl]="adminFormBulk.controls.includeStarred"> Include starred moves
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" [formControl]="adminFormBulk.controls.bulk"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>

      <hr />

      <ngx-datatable
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="'auto'"
        [limit]="20"
        [reorderable]="false"
        [rows]="moves">
      </ngx-datatable>
      <ng-template #rowDeleteEntry let-row="row">
        <a href="#" class="lnk-danger float-right" (click)="deleteMove(row.id)">
          <i class="fa fa-times"></i>
        </a>
      </ng-template>
    </div>

  </div>
</div>
