<div id="admin-types" class="container-fluid admin-pages">
  <div class="row">

    <div class="col-sm-4">
      <h2>Types</h2>
    </div>

    <div class="col-sm-4">
      <form [formGroup]="adminForm" (ngSubmit)="createType()" autocomplete="off" novalidate>
        <div class="form-group">
          <input type="text" class="form-control" [formControl]="adminForm.controls.name">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
      <br />
      <br />
      <ngx-datatable
        [columns]="columns"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="'auto'"
        [limit]="20"
        [reorderable]="false"
        [rows]="types">
      </ngx-datatable>
      <ng-template #rowDeleteEntry let-row="row">
        <a href="#" class="lnk-danger float-right" (click)="deleteGen(row.id)">
          <i class="fa fa-times"></i>
        </a>
      </ng-template>
    </div>

  </div>
</div>
